<div class="content">
  <h1>Who I am...</h1>
  <div class="row">
    <img src="../../assets/images/" alt="" />
    <p>
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Repellat
      exercitationem officiis hic magni reprehenderit. Quas, eum? Sapiente
      nesciunt quod id vitae? A tempora ea est sequi, nihil numquam libero
      expedita provident odio, perferendis corrupti accusantium eum iusto minus,
      architecto maxime molestiae impedit deleniti repellendus! Voluptatum
      voluptates et, nesciunt architecto obcaecati quam odio amet ad placeat
      suscipit ea nostrum atque ratione ipsa voluptatem blanditiis magnam animi
      corrupti consectetur. Earum veritatis adipisci voluptatibus laborum odit
      voluptates quis. Similique laudantium deleniti unde alias fugiat. Ex,
      asperiores ab impedit reprehenderit perferendis tempora, quae natus
      officiis ratione eius sapiente nostrum fugiat accusantium voluptatum
      fugit? Nemo.
    </p>
  </div>
  <div class="row">
    <div class="row reverse">
      <img src="../../assets/images/" alt="" />
      <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Repellat
        exercitationem officiis hic magni reprehenderit. Quas, eum? Sapiente
        nesciunt quod id vitae? A tempora ea est sequi, nihil numquam libero
        expedita provident odio, perferendis corrupti accusantium eum iusto
        minus, architecto maxime molestiae impedit deleniti repellendus!
        Voluptatum voluptates et, nesciunt architecto obcaecati quam odio amet
        ad placeat suscipit ea nostrum atque ratione ipsa voluptatem blanditiis
        magnam animi corrupti consectetur. Earum veritatis adipisci voluptatibus
        laborum odit voluptates quis. Similique laudantium deleniti unde alias
        fugiat. Ex, asperiores ab impedit reprehenderit perferendis tempora,
        quae natus officiis ratione eius sapiente nostrum fugiat accusantium
        voluptatum fugit? Nemo.
      </p>
    </div>
  </div>
</div>
