<div class="content">
  <div class="big-image">
    <img id="big-image" [src]="bigImageSrc" alt="{{ name }}" />
  </div>
  <div class="price">
    <p>{{ price | currency: "USD" }}</p>
  </div>
  <div class="name">
    <h1>{{ name }}</h1>
  </div>
  <div class="description">
    <p>{{ description }}</p>
  </div>
  <div class="colors">
    <div
      [ngStyle]="{ 'background-color': color }"
      *ngFor="let color of colors"
      class="color-circle"
      [class.circle-border]="colorMap.get(color)"
      (click)="addBorder(color)"
    ></div>
  </div>
  <div class="sizes">
    <p>
      <b>Sizes:</b>
      <span *ngIf="sizes.length == 0"><i> All Out of Stock</i></span>
      <span *ngIf="sizes.length != 0">
        <!--<span *ngFor="let size of sizes; index as i">
          {{ size }} <span *ngIf="i != sizes.length">,</span>
        </span>-->
        <mat-select>
          <mat-option *ngFor="let size of sizes" [value]="size">{{
            size
          }}</mat-option>
        </mat-select>
      </span>
    </p>
  </div>
  <div class="add-to-cart">
    <button mat-raised-button class="button" [disabled]="sizes.length == 0">
      Add to Cart
    </button>
  </div>

  <div class="small-images">
    <img
      [class.img-border]="imageMap.get(image)"
      class="small-image"
      *ngFor="let image of images"
      src="{{ image }}"
      alt="{{ name }}"
      (click)="changeSource(image)"
    />
  </div>
</div>
