.container {
  display: grid;
  place-items: center;
}

@media (max-width: 767px) {
  .container {
    height: calc(100vh - 76px);
  }
  p {
    margin-top: 76px;
    font-size: 24px;
  }
}
@media (min-width: 768px) {
  .container {
    height: calc(100vh - 90px);
  }
  p {
    margin-top: 90px;
    font-size: 36px;
  }
}
