.log-btn {
  margin-top: -10px;
  background-color: #54412f;
}
a {
  color: #fff;
}

@media (min-width: 960px) {
  a {
    margin-right: 25px;
  }
}

@media (max-width: 959px) {
  .container {
    text-align: center;
  }
  a {
    margin-top: -10px;
  }
  .log-btn {
    margin: 0;
  }
}
