<div class="wrapper">
  <div
    id="navbar"
    #nav
    [ngClass]="{ top: addOrRemoveNav() && !hideNav }"
    class="navbar"
    (scroll)="onWindowScroll($event)"
  >
    <!--<span>franko.<i></i></span>-->
    <button fxHide fxShow.lt-md mat-icon-button (click)="snav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <a class="nav-hover" (click)="onClickScroll('home')" routerLink="">
      <img
        [@logoBar]="logo ? 'ready' : 'init'"
        src="../assets/images/logo1.png"
        alt=""
      />
    </a>
    <nav>
      <ul fxHide fxShow.gt-sm>
        <li [@navBar]="home ? 'ready' : 'init'">
          <a
            *ngIf="!hideNav"
            class="nav-hover"
            (click)="onClickScroll('home')"
            routerLink=""
            >HOME</a
          >
        </li>
        <li [@navBar]="about ? 'ready' : 'init'">
          <a
            *ngIf="!hideNav"
            class="nav-hover"
            (click)="onClickScroll('about')"
            routerLink=""
            >ABOUT</a
          >
        </li>
        <li [@navBar]="gallery ? 'ready' : 'init'">
          <a
            *ngIf="!hideNav"
            class="nav-hover"
            (click)="onClickScroll('gallery')"
            routerLink=""
            >GALLERY</a
          >
        </li>
        <li [@navBar]="shop ? 'ready' : 'init'">
          <a
            *ngIf="!hideNav"
            class="nav-hover"
            (click)="onClickScroll('shop')"
            routerLink=""
            >SHOP</a
          >
        </li>
        <li [@navBar]="cart ? 'ready' : 'init'">
          <a routerLink="/cart"
            ><span><i class="fa fa-shopping-cart" aria-hidden="true"></i></span
          ></a>
        </li>
        <li [@navBar]="account ? 'ready' : 'init'">
          <app-login-status></app-login-status>
        </li>
      </ul>
    </nav>
  </div>
  <mat-sidenav-container class="example-sidenav-container">
    <mat-sidenav #snav [mode]="'over'" [fixedInViewport]="true">
      <nav class="sidenav-flex">
        <ul>
          <li [@navBar]="home ? 'ready' : 'init'">
            <a (click)="snav.toggle(); onClickScroll('home')">Home</a>
          </li>
          <li [@navBar]="about ? 'ready' : 'init'">
            <a (click)="snav.toggle(); onClickScroll('about')">About</a>
          </li>
          <li [@navBar]="gallery ? 'ready' : 'init'">
            <a (click)="snav.toggle(); onClickScroll('gallery')">Gallery</a>
          </li>
          <li [@navBar]="shop ? 'ready' : 'init'">
            <a (click)="snav.toggle(); onClickScroll('shop')">Shop</a>
          </li>
          <li [@navBar]="account ? 'ready' : 'init'">
            <a href="#account">Account</a>
          </li>
          <li>
            <app-cart-status></app-cart-status>
          </li>
        </ul>
      </nav>
    </mat-sidenav>
    <mat-sidenav-content>
      <router-outlet class="content"></router-outlet>
      <div class="footer">
        <div class="footer-flex">
          <img src="../assets/images/logo1.png" alt="" />
        </div>
        <div class="footer-flex" style="width: 11%">
          <a href="https://www.instagram.com/_frankie_diamond/" target="_blank"
            ><i class="fab fa-instagram fa-2x" style="color: white"></i
          ></a>
          <a href="https://www.tiktok.com/@_frankie_diamond?" target="_blank"
            ><i class="fab fa-tiktok fa-2x" style="color: white"></i
          ></a>
          <a href="https://www.twitch.tv/3fettuccine" target="_blank"
            ><i class="fab fa-twitch fa-2x" style="color: white"></i
          ></a>
        </div>
        <!-- <div class="footer-flex" style="width: 35%">
          <p>Privacy Policy</p>
          <p>Terms & Conditions</p>
          <p>Shipping & Returns</p>
        </div> -->
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
