<div class="hero">
  <video
    [src]="heroUrl"
    [autoplay]="'true'"
    [loop]="true"
    [muted]="muted"
  ></video>
  <div class="overlay">
    <div [@heroText]="heroTextFade ? 'ready' : 'init'" class="content">
      <ng-lottie
        class="animation"
        width="1000px"
        height="1000px"
        containerClass="content"
        [options]="options"
        (animationCreated)="animationCreated($event)"
      ></ng-lottie>
      <h2>I'm super depressed.</h2>
    </div>
  </div>
</div>
<div id="about" class="flex-columns">
  <div class="row">
    <div #about class="column from-left">
      <img
        id="about-pic"
        src="../../assets/images/frank_placeholder.jpg"
        alt=""
      />
    </div>
    <div #about class="column about from-right">
      <div class="row">
        <img src="../../assets/images/cooking.png" alt="cook" />
        <img src="../../assets/images/helmet.png" alt="construction" />
        <img src="../../assets/images/guitar.png" alt="guitarist" />
      </div>
      <h4>chef / construction worker / musician</h4>
      <h1>hi i'm frank</h1>
      <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Fugit atque
        reiciendis adipisci obcaecati quos aperiam odit dolor nulla eligendi
        quaerat.
      </p>
      <button mat-raised-button class="button">Read</button>
    </div>
  </div>
</div>
<div id="gallery" class="grid-wrapper">
  <div class="intro-quote">
    <h2 class="special" style="text-shadow: black 1px 0 10px;" #topGallery>Welcome back to another<br> episode of <i>I'm Super Depressed!</i><br> I'm your host <i>Frankie Diamond</i> <br>and today we are making...</h2>
  </div>
  <div class="box-header">
    <div class="text-box">
      <h1>check out my show on insta!</h1>
      <h4>i'm your host - frankie diamond!</h4>
      <p>
        See the gallery for my all videos. I show you step by step how to cook
        <i>fantasic</i> Italian food!
      </p>
      <button mat-raised-button color="primary" class="button">Watch</button>
    </div>
  </div>
  <div class="insta-preview">
    <div class="user-info">
      <div #topGallery class="insta-preview-user special">
        <img
          class="avatar"
          src="../../assets/images/insta_profile.jpg"
          alt=""
        />
        <h3 style="padding-left: 5px">_frankie_diamond</h3>
      </div>
      <h4 #topGallery style="padding-right: 7px;" class="special">💎🇮🇹 <br>Co-Head Chef for I’m Super Depressed</h4>
    </div>
    <img #bottomGallery class="gif gallery" src="../../assets/images/compilation-gallery.gif" alt="" />
  </div>
  <div class="image-flex">
    <img #bottomGallery class="gallery" style="height: 300px; width: 200px;" src="../../assets/images/lobster.jpg" alt="">
  </div>
  <div #bottomGallery class="check-show gallery">
    <h3>check out my best moments!</h3>
    <div #bottomGallery class="arrow" style="margin-top: 25px;">
      <fa-icon [icon]="faArrow"></fa-icon>
    </div>
  </div>
</div>
