<div class="hero">
  <video [src]="vidUrl"  [autoplay]="'true'" [loop]="true" [muted]="muted"></video>
  <div class="overlay">
    <div [@heroText]="heroTextFade ? 'ready' : 'init'" class="content">
      <!--<h1>franko.</h1>-->
      <ng-lottie class="animation" width="1000px" height="1000px" containerClass="content" [options]="options" (animationCreated)="animationCreated($event)"></ng-lottie>
      <h2>I'm super depressed.</h2>
    </div>
  </div>
</div>
<div class="flex-columns">
  <div class="row">
  <div class="column">
    <img id="about-pic" src="../../assets/images/frank_placeholder.jpg" alt="">
  </div>
  <div class="column about">
    <div class="row">
      <img src="../../assets/images/cooking.png" alt="">
      <img src="../../assets/images/helmet.png" alt="">
      <img src="../../assets/images/guitar.png" alt="">
    </div>
    <h4>chef / construction worker / musician</h4>
    <h1>hi i'm frank</h1>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Fugit atque reiciendis adipisci obcaecati quos aperiam odit dolor nulla eligendi quaerat.</p>
    <button id="about-button" mat-button>Learn more</button>
  </div>
</div>
</div>
